
.Button-group{
    margin-top:10px; padding: 5px; 
  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root.home{
    color:blue; font-family: Poppins; font-size: 20px;
  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root.home:hover{
    color:green;
  }
 .css-1e6y48t-MuiButtonBase-root-MuiButton-root.backBtn{
    font-family:Poppins; font-size: 15px; color:blue; 
  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root.backBtn:hover{
    color:green;
  }

  /* .css-1e6y48t-MuiButtonBase-root-MuiButton-root.stil{
    font-family:monospace;
  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root.stil:hover{
    color: green;
  } */