.css-i4bv87-MuiSvgIcon-root.view{
    color:rgb(43, 105, 219); padding: 3px;
  }
  .css-i4bv87-MuiSvgIcon-root.edit{
    color:rgb(44, 226, 69); padding: 3px;
  }
  .css-i4bv87-MuiSvgIcon-root.delete{
    color:red; padding: 3px;
  }
