
.css-1e2bxag-MuiDataGrid-root.table{
    background-color: rgb(225, 239, 239); 
    height:400px; 
    width:60%;
    margin-top:10px;
    font-family:Arial, Helvetica, sans-serif; 
    font-weight: 700;
    margin:auto;
    border:2px solid rgb(8, 47, 205);
    
}

.css-1e2bxag-MuiDataGrid-root.table .MuiDataGrid-columnHeader--sortable {
    background-color: rgb(6, 163, 163);  text-transform: uppercase;
    border-bottom-color: rgb(8, 47, 205); font-style:italic;
}
.css-1e2bxag-MuiDataGrid-root.table .MuiDataGrid-columnHeader--sortable:hover {
   color: aliceblue; 
}
.css-1e2bxag-MuiDataGrid-root.table .css-17jjc08-MuiDataGrid-footerContainer{
    background-color: rgb(153, 215, 215); border-top-color: rgb(8, 47, 205);
}