@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #e2dbbd;
}
ul{
    position: relative;
    transform:skewY(-15deg)
}
ul li{
    position: relative;
    list-style:none;
    width: 200px;
    background: #6777b3;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
ul li:hover{
    background: rgb(133, 224, 174);
    transform: translate(-50px);
}
ul li::before{
    content: " ";
    position: absolute;
    left:-40px;
    top: 0;
    width:40px;
    height:100%;
    background: #0c71ac;
    transform-origin: right;
    transform:skewY(45deg);
    transition: 0.5s;
}
ul li:hover::before{
    background: #0c71ac;
}
ul li::after{
    content: " ";
    position: absolute;
    top:-40px;
    left: 0;
    width:100%;
    height:40px;
    background: #0c71ac;
    transform-origin:bottom;
    transform:skewX(45deg);
    transition: 0.5s;
}
ul li:hover::after{
    background: #d9e70e;
}
ul li a{
    text-decoration: none;
    color: #333;
    display: block;
    text-transform: uppercase;
    letter-spacing:0.05em;
    transition:0.5s;
}
ul li:hover a{
    color: rgb(219, 51, 51);
}
ul li:last-child::after{
    box-shadow: -100px 100px 20px rgba(43, 41, 41, 0.5);

}
